<%- include ('include/header'); %>
<%- include ('include/navigation_bar'); %>

<div id="first-div" class="container">
  <!-- put body here -->
	<div class="index-body container">
		<div class="container">
				<div class="card-header">Create Article</div>

				<form 
          action="/api/article/create" 
          method="POST"
          id="createArticleForm">
					<input
						class="form-control rounded-0"
						type="text"
						name="title"
						id="title"
						placeholder="article title.."
						value="Hello there, this is the title"
						autofocus />

					<br>
					<div class="text-area">
						<textarea 
              name="update_post_content" 
              id="content"
							class="p-1 md-textarea form-control rounded-0" 
              rows="3" 
              placeholder="article body.."
							value="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quidem veniam qui in, omnis, magni ab delectus placeat esse aut error odio accusamus voluptates fuga quod quam eos nostrum natus?</textarea>

						<br>
            <!-- add a check button to be checked if you want the article 
              to be published  -->
						<button 
              name="update_post_submit_button" 
              type="submit" 
              class="btn btn-success btn-block"
							value=""
              >SUBMIT ARTICLE</button>
					</div>
				</form>
		</div>
	</div>

	<!-- include tinymce here -->
	<!--  include ('include/tinymce');  -->
		<!-- <script>
		tinymce.init({
			selector: '#content'
		});
	</script> -->
</div>

<%- include ('include/footer_section'); %>
<%- include ('include/footer'); %>
