<%- include ('include/header'); %>
<%- include ('include/navigation_bar'); %>

<div id="first-div" class="container">
  	<!-- put body here -->
	<div class="index-body container">
		<div class="card card-register mx-auto mt-0">
			<div class="card-header">Create an Account</div>

			<div class="card-body">

				<form method="POST" action="" class="" id="signupForm">
					<div class="form-group">
						<div class="form-row">

							<!-- first name -->
							<div class="col-md-6">
								<div class="form-label-group">
									<input type="text" 
										class="form-control" 		
										id="firstName"
										name="firstName" 
										placeholder="First name"
										value=""
										autofocus />

									<label for="firstName" 
										class="text-capitalize">
										First name</label>
								</div>
							</div>

							<!-- last name -->
							<div class="col-md-6">
								<div class="form-label-group">
									<input type="text" 
										class="form-control" 
										id="lastName" 
										name="lastName"
										placeholder="Last name"
										value="" />
									<label for="last name" 
										class="text-capitalize">
										Last name</label>
								</div>
							</div>
						</div>
					</div>

					<!-- email -->
					<div class="form-group">
						<div class="form-label-group">
							<input type="email" 
								class="form-control" 
								id="email" name="email"
								placeholder="Name@example.com"
								value=""
								autocomplete="email" />
							<label for="email">Email address</label>
						</div>
					</div>

					<div class="form-group">
						<div class="form-row">
							<!-- password -->
							<div class="col-md-6">
								<div class="form-label-group">
									<input type="password" 
										class="form-control" 	
										id="password" 
										name="password"
										placeholder="Password"
										autocomplete="new-password">
									<label for="password" 	
										class="text-capitalize">Password</label>
								</div>
							</div>

							<!-- confirm password -->
							<div class="col-md-6">
								<div class="form-label-group">
									<input type="password" 
										class="form-control" 
										id="confirmPassword"
										name="confirmPassword" 
										placeholder="Re-enter password"
										autocomplete="new-password">
									<label for="confirmPassword" 	
										class="text-capitalize">
										Confirm password</label>
								</div>
							</div>
						</div>
					</div>

					<!-- user bio -->
					<div class="form-group">
						<div class="form-label-group">
							<textarea 
								class="form-control" 
								id="bio" 
								name="bio" 
								rows="3"
								placeholder="About me"></textarea>
							<label for="user description" 
								class="text-capitalize">Bio</label>
						</div>
					</div>

					<!-- button -->
					<button type="submit" 
						class="btn btn-primary btn-block" 
						name="register_button"
						value="register_button">REGISTER</button>
				</form>
				<!-- form ends here -->
			</div>

			<div class="text-center">
				<a class="d-block small mt-3 text-capitalize" 
					href="/account/login">Login</a>
			</div>
		</div>
	</div>
</div>

<%- include ('include/footer_section'); %> 
<%- include ('include/footer'); %>
