<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- cdn static files -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->

    <!-- my statics files -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="/css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="/assets/img/24pill-code-blue.png"
      type="image/x-icon"
    />
    <!-- <link rel="shortcut icon" href="https://avatars3.githubusercontent.com/u/31062978?s=460&u=33d1484fcc3af0c7453c29cb7fbaaaeb179acc8a&v=4" type="image/x-icon"> -->
    <link rel="stylesheet" href="/css/custom.css" />

    <title><%= appName %></title>
  </head>

  <body>
    <div class="container-fluid"></div>
  